.homeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shopNowBtn {
  width: 200px;
  margin-top: 0.5rem;
}

.mobileShopNowBtn {
  display: none;
}

.heroBannerContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  margin: 20px auto;
  margin-top: 40px;
  padding: 0 20px;
}
.heroBanner {
  width: 60%;
  object-fit: contain;
}

.heroBannerSlogan {
  display: flex;
  text-align: left;
  flex-direction: column;
  flex: 1;
  @apply text-zinc-900;
}

.heroBannerSlogan p {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 20px;
}

.heroBannerSlogan h1 {
  font-size: 3rem;
  font-weight: 700;
}

.shopByCategoryTextWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.shopByCategoryText {
  @apply border-t border-zinc-300;
  width: 100%;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 16px;
  margin-top: 16px;
  margin-left: 20px;
  padding-top: 16px;
}

@media screen and (max-width: 768px) {
  .heroBannerContainer {
    flex-direction: column;
  }

  .heroBanner {
    width: 100%;
  }

  .heroBannerSlogan h1 {
    font-size: 2rem;
  }

  .heroBannerSlogan p {
    text-align: center;
    font-size: 1rem;
  }

  .shopByCategoryText {
    font-size: 1.5rem;
  }

  .shopNowBtn {
    display: none;
  }

  .mobileShopNowBtn {
    display: block;
    width: 340px;
    margin-top: 1rem;
  }
}
