.featuredAdditions-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.featuredAdditions-title {
  font-size: 2.5rem;
  font-weight: 700;
  @apply text-zinc-900;
  text-align: left;
  margin-bottom: 30px;
}

.featuredAdditions-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.featuredAdditions-card {
  overflow: hidden;
  position: relative;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.featuredAdditions-card:hover {
  transform: scale(1.03);
}

.featuredAdditions-image {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
}

.featuredAdditions-info {
  text-align: center;
  padding: 10px;
}

.featuredAdditions-product-title {
  margin: 10px 0 5px;
}

.featuredAdditions-product-price {
  @apply text-zinc-900;
  font-weight: bold;
}

.seelAllBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  width: 100%;
  margin-top: 1.5rem;
}

@media (max-width: 768px) {
  .featuredAdditions-title {
    font-size: 2rem;
  }
}
