.footer {
  margin: 100px 200px 20px 200px;
}

/* FOOTER TOP SECTION START */
.footer-top-section {
  display: flex;
  gap: 50px;
}

.footer-top-items {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: justify;
  font-size: 14px;
}

.footer-top-items h1 {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.025em;
}

.footer-top-items span {
  @apply text-zinc-500;
}

.category-links {
  transition: all 0.2s ease-in-out;
}

.category-links:hover {
  font-weight: 500;
  @apply text-zinc-800;
}

.about-us-links span {
  transition: all 0.2s ease-in-out;
}

.about-us-links:hover span {
  font-weight: 500;
  @apply text-zinc-800;
}
/* FOOTER TOP SECTION END */

/* FOOTER BOTTOM SECTION START */
.footer-bottom-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}

.footer-bottom-left {
  display: flex;
  align-items: center;
}

.footer-bottom-left,
.copyright {
  margin-left: 20px;
  font-size: 12px;
  @apply text-zinc-500;
}

.footer-bottom-right img {
  height: 50px;
}
/* FOOTER BOTTOM SECTION END */

@media (max-width: 768px) {
  .footer {
    margin: 20px 20px 20px 20px;
  }

  .footer-top-section {
    flex-direction: column;
    gap: 20px;
  }

  .footer-top-items {
    text-align: left;
  }

  .footer-bottom-section {
    flex-direction: column;
    gap: 20px;
  }

  .footer-bottom-left {
    margin-left: 0;
  }
}
