.quantitySelector {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 120px;
  margin: 0 auto;
  padding: 0 10px;
  @apply border border-zinc-400/60;
  border-radius: 9999px;
  overflow: hidden;
}

.quantitySelector button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.quantitySelector input {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: none;
  border: none;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  appearance: textfield;
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
