.mobileNav,
.menu {
  display: none;
}

@media screen and (max-width: 768px) {
  .noScroll {
    overflow: hidden;
  }

  .mobileNav {
    display: block;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .menu {
    display: flex;
    position: fixed;
    top: 100px;
    height: calc(100vh - 100px);
    left: 0;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    transform: translateX(-100%);
    overflow-y: auto;
    transition: transform 0.3s ease-in-out;
    @apply bg-zinc-100;
    z-index: 10;
  }

  .menu.open {
    transform: translateX(0);
  }

  .menuItems {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    gap: 1rem;
  }

  .menuItem {
    width: 100%;
    padding: 1.5rem 0.5rem;
    text-transform: uppercase;
  }

  .menuFooterWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .menuFooter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-top: 1rem;
    padding-top: 1rem;
    gap: 1rem;
    justify-content: center;
    @apply border-t border-zinc-300;
  }

  .socialIcons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  .socialIcon {
    display: flex;
    align-items: center;
    margin: 0 0.5rem;
    gap: 0.5rem;
    @apply text-zinc-600;
    @apply text-sm;
  }

  .contactUs {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.5rem;
    gap: 0.5rem;
    @apply text-sm;
  }

  .contactIcon {
    @apply text-zinc-600;
  }

  .contactText {
    @apply text-zinc-600;
  }

  .cartContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }

  .cartIcon {
    @apply text-zinc-600;
  }

  .cartContainer p {
    @apply text-zinc-600;
    @apply text-sm;
  }
}
