.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1rem;
  margin: auto;
  @apply border border-b-zinc-300;
}

.logo {
  width: 100px;
  margin-left: 20px;
}

.navItems {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.navItem {
  font-weight: 500;
  margin: 0 20px;
  position: relative;
}

.navItem::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  bottom: -5px;
  background: currentColor;
  left: 0;
  position: absolute;
  transition: width 0.25s ease-in-out;
}

.navItem:hover::after {
  width: 100%;
}

.icons {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.icon {
  margin: 0 10px;
  transition: color 0.2s ease-in-out;
}

.loginTooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.loginTooltip p {
  padding: 0.5rem 1rem;
  @apply bg-zinc-900 text-zinc-100 rounded-lg;
}

.cartTooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.cartTooltip p {
  padding: 0.5rem 1rem;
  @apply bg-zinc-900 text-zinc-100 rounded-lg;
}

.logoutTooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.logoutTooltip p {
  padding: 0.5rem 1rem;
  @apply bg-zinc-900 text-zinc-100 rounded-lg;
}

.icon:hover {
  @apply text-zinc-500;
}

@media screen and (max-width: 768px) {
  .navItems {
    display: none;
  }

  .cartHidden {
    display: none;
  }

  .logoContainer {
    display: block;
    flex-grow: 1;
    width: 100px;
  }
}
